@model LancheListViewModel 

    <div>
        <h2>@Model.CategoriaAtual</h2>
    </div>
    

        <div class= "Container">
    <div class= "row">
        @foreach (Lanche lanche in Model.Lanches) 
        {
            <partial name="_LanchesResumo" for="@lanche"/>
        }
    </div>
    </div>