@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel

<div class="text-center">
    <h1 class="display-4">Bem vindo a Loucura </h1>
    <p>Já estou lambendo parede <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name ="_carousel"/>

<h2>Os preferidos da semana</h2>
<h4>Tá com fome Atrapaiado ???</h4>

<div class="row">
    @foreach(var lanche in Model.LanchesPreferidos)
    {
        <partial name="_LanchesResumo" for="@lanche"/>
    }

</div>